/node_modules
/public/hot
/public/storage
/public/log
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.gitignore
.qodo
docker-compose-stack.tar
docker-compose-stack.tar
