<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Zarzalito</title>
		<!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/botman-web-widget@0/build/assets/css/chat.min.css"> -->
		<style>

			/* Personaliza el tamaño del bubbleAvatar */
			#botmanWidgetRoot > div:first-of-type {
				min-height: 270px !important;
			}

			#botmanWidgetRoot img {
				width: auto !important;
			}

			.desktop-closed-message-avatar {
				top: 100px !important;
				right: 20px;
				height: 160px !important;
				width: 160px !important;
				box-shadow: none !important;
			}

			.desktop-closed-message-avatar img {
				border-radius: 0 !important;
			}

			/*animacion del avatar en la pagina*/
			@keyframes suaveBounce {
				0,
				100% {
					transform: translateY(0);
				}
				50% {
					transform: translateY(-20px);
				}
			}

			#botmanWidgetRoot img {
				animation: suaveBounce 1.5s ease-in-out infinite;
			}
		</style>
	</head>
	<body> <script>			
		var botmanWidget = {
		frameEndpoint: '{{env.DOMAIN_SITE}}/bot/plantilla',
		chatServer: '{{env.DOMAIN_SITE}}/bot/start',
		title: 'Zarzalito',
		introMessage: '',
		placeholderText: 'Preguntame algo',
		mainColor: '#609415',
		bubbleBackground: '',
		headerTextColor: '#ffffff',
		aboutText: ' ',
		aboutLink: ' ',
		bubbleAvatarUrl: '{{env.DOMAIN_SITE}}/assets/img/avatar.png',
		};
				</script>
		 <script src='https://cdn.jsdelivr.net/npm/botman-web-widget@0/build/js/widget.js'></script>
	</body>
</html>
