<!doctype html>
<html lang="en-US">

	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
		<title>Cambio de contraseña</title>
		<meta name="description" content="Reset Password Email Template.">
		<style>
			type="text/css" a:hover{text-decoration:underline !important
			}
		</style>
	</head>

	<body
		marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #fff;" leftmargin="0">
		<!--100% body table-->
		<table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#fff" style="@import url(https://fonts.googleapis.com/css2?family=family=Inter:wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap; font-family: 'Open Sans', sans-serif;">
			<tr>
				<td>
					<table style="background-color: #fff; max-width:670px;  margin:0 auto;" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
						<tr>
							<td style="height:80px;">&nbsp;</td>
						</tr>
						<tr>
							<td style="text-align:center;">
								<a href="flexu.grupointec.co" title="logo" target="_blank">
									<img src="https://flexu.grupointec.co/assets/img/banner.png" title="logo" alt="logo" style="width:100%">
								</a>
							</td>
						</tr>
						<tr>
							<td style="height:20px;">&nbsp;</td>
						</tr>
						<tr>
							<td>
								<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="max-width:670px;background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
									<tr>
										<td style="height:40px;">
											<img width="150" src="https://flexu.grupointec.co/assets/img/telefono-movil-3d-candado-codigo-seguridad.jpg" title="logo" alt="logo">
										</td>
									</tr>
									<tr>
										<td style="padding:0 35px;">
											<span class="name">Hola,
												{{nombre}}</span>
											<h1>Gracias por registrarte</h1>

											<p>
												Para poder ingresar a la plataforma debes activar tu cuenta dando clic en el boton
												<b>ACTIVAR CUENTA</b>
												<br><br>
											</p>


											<a class="explore" href="https://flexu.grupointec.co/usuarios/activate/{{activation.code}}/{{user.id}}" target="_blank">
												ACTIVAR CUENTA
											</a>
										</td>
									</tr>
									<tr>
										<td style="height:40px;">&nbsp;</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td style="height:20px;">&nbsp;</td>
						</tr>
						<tr>
							<td style="text-align:center;">
								<p style="font-size:14px; color:rgba(69, 80, 86, 0.7411764705882353); line-height:18px; margin:0 0 0;">&copy;
									<strong>www.flexu.com</strong>
								</p>
							</td>
						</tr>
						<tr>
							<td style="height:80px;">&nbsp;</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<!--/100% body table-->
	</body>
</html>
